.check-item {
    font-size: 1.2rem;
    border: 2px darkgrey solid;
    padding: 4px;
    margin: 4px 0;
    background-color: #e2e2e2;
}

p .check-item {
    display: inline;
    margin: 0 4px 0 0;
}
